In [2]:
import pandas as pd

# Load the CSV file into a DataFrame
file_path = '../data/results.csv'
df = pd.read_csv(file_path)

# Display the first few rows of the DataFrame
df.head()

,date,home_team,away_team,home_score,away_score,competition,stadium,city,country,neutral,world_cup
0,1871-03-27,Scotland,England,1,0,1871 Scotland v England International,Raeburn Place,Edinburgh,Scotland,False,False
1,1872-02-05,England,Scotland,2,1,1871-72 Home Nations International,The Oval,London,England,False,False
2,1873-03-03,Scotland,England,0,0,1872-73 Home Nations International,West of Scotland F.C.,Glasgow,Scotland,False,False
3,1874-02-23,England,Scotland,1,0,1873-74 Home Nations International,The Oval,London,England,False,False
4,1875-02-15,England,Ireland,2,0,1874-75 Home Nations rugby union matches,The Oval,London,England,False,False

In [3]:
df.tail()

,date,home_team,away_team,home_score,away_score,competition,stadium,city,country,neutral,world_cup
2778,2024-07-13,Argentina,France,33,25,2024 France tour of Argentina,JosÃ© Amalfitani Stadium,Buenos Aires,Argentina,False,False
2779,2024-08-10,Australia,South Africa,7,33,2024 Rugby Championship,Suncorp Stadium,Brisbane,Australia,False,False
2780,2024-08-10,New Zealand,Argentina,30,38,2024 Rugby Championship,Wellington Regional Stadium,Wellington,New Zealand,False,False
2781,2024-08-17,New Zealand,Argentina,42,10,2024 Rugby Championship,Eden Park,Auckland,New Zealand,True,False
2782,2024-08-17,Australia,South Africa,12,30,2024 Rugby Championship,Optus Stadium,Perth,Australia,False,False